<div class="top-wrap">
			<a class="btn btn-default" href="/admin/">admin</a>
			<a class="btn btn-default" href="/admin/banners">banner-setting</a>
			<a class="btn btn-default" href="/admin/blog">blog-setting</a>
			<a class="btn btn-default" href="/admin/contact">contact</a>
			<a class="btn btn-default" href="/admin/custom">custom</a>
			<a class="btn btn-default" href="/admin/intro">intro</a>
			<a class="btn btn-default" href="/admin/msg">msg</a>
			<a class="btn btn-default" href="/admin/news">news</a>
		</div>
		<hr>