
<nav class="navbar navbar-inverse " role="navigation">
	<div class="container-fluid">
		<div class="nabar-header">
			<a href="/admin/" class="navbar-brand">Setting
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a  href="/admin/">admin</a>
			</li>
			<li>
				<a  href="/admin/banners">banner-setting</a>
			</li>
			<li>
				<a  href="/admin/blog">blog-setting</a>
			</li>
			<li>
				<a  href="/admin/contact">contact</a>
			</li>
			
			<li>
				<a  href="/admin/custom">custom</a>
			</li>
			<li>
				<a  href="/admin/intro">intro</a>
			</li>
			<li>
				<a  href="/admin/msg">msg</a>
			</li>
			<li>
				<a  href="/admin/news">news</a>
			</li>
		</ul>
	</div>

</nav>
