<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>
	<div class="page">
		<% include components/top.inc.ejs %>
		<div class="content-wrap">
			index view
		</div>
	</div>
</body>
</html>